@page
@model E_Commerce.RazorProject.Pages.Categories.EditModel

<form method="post">
    <input asp-for="Category.Id" hidden />
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Create Category </h2>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="Category.Name" class="p-0"></label>
            <input asp-for="Category.Name" type="text" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" type="text" class="form-control" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row">
            <div class=" col-md-6 col-sm-12 my-sm-1">
                <button type="submit" class="btn btn-primary form-control">Edit</button>
            </div>
            <div class="col-md-6 col-sm-12 my-sm-1">
                <a asp-page="/categories/index" class="btn btn-outline-secondary form-control">Back To List</a>
            </div>
        </div>
    </div>

</form>

<!--all the model specific validations Will now Be considered for client side validation first -->
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
